/* Box Sizing */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Open Sans", "sans-serif";
  font-size: 18px;
}
html h1 {
  font-size: 2rem;
  font-weight: 700;
}
html h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
html h3 {
  font-size: 1rem;
  font-weight: 400;
}
html p {
  font-size: 1rem;
  font-weight: 400;
}

body {
  background-color: #f4efef;
  color: #000022;
}

.about {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
.about #profile {
  width: 60vw;
  position: fixed;
  left: 30%;
  top: 10%;
}
.about #profile #profile-picture {
  height: 300px;
  width: 300px;
  background: #fff;
  overflow: hidden;
  border-style: hidden;
  border-radius: 50%;
  box-shadow: -20px 15px 0 10px #e07a5f;
}
.about #profile #profile-picture img {
  height: inherit;
  width: inherit;
}
.about #profile h1 {
  position: absolute;
  top: 25%;
  left: 240px;
  background: #a1e4cc;
  padding: 0.5rem 1rem;
  line-height: 2.5rem;
}
.about #profile h3 {
  position: absolute;
  top: 70%;
  left: 180px;
  background: #a1e4cc;
  padding: 0.5rem 1rem;
}
.about #bio {
  width: 60vw;
  position: fixed;
  left: 20%;
  top: calc(300px + 15%);
}
.about #bio h2 {
  position: absolute;
  background: #a1e4cc;
  padding: 0.5rem 1rem;
  left: 28%;
}
.about #bio p {
  position: absolute;
  top: 3rem;
  text-align: center;
  line-height: 1.5rem;
}
.about .contact {
  margin-top: 90vh;
  display: flex;
  justify-content: center;
  margin-left: 5rem;
}
.about .contact a {
  text-decoration: none;
  color: #000022;
  font-weight: 600;
  outline: none;
}
.about .contact i {
  font-size: 2rem;
  color: #e07a5f;
}
.about .contact span {
  position: relative;
  top: -10%;
  left: -50%;
  text-decoration: none;
  opacity: 0;
}
.about .contact ._wrapper:hover span {
  opacity: 1;
  transition: 0.3s linear;
}
.about .contact ._wrapper:hover i {
  color: rgba(224, 122, 95, 0.5);
  transition: 0.3s linear;
}
