@import 'reset';
@import 'colours';
@import 'typography';

body {
  background-color: $white;
  color: $dark;
}

.about {
  height: 100vh;
  width: 100vw;

  #profile {
    // display: flex;
    // flex-direction: column;
    margin-left: auto;
    width: 60vw;
    position: fixed;
    left: 20%;

    #profile-picture {
      height: 300px;
      width: 300px;
      background: $light;
      overflow: hidden;
      border-style: hidden;
      border-radius: 50%;
      box-shadow: -20px 15px 0 10px $accent;
      
      img {
        height: inherit;
        width: inherit;
      }
    }

    h1 {
      position: absolute;
      top: 25%;
      left: 240px;
      background: $primary;
      padding: 0.5rem 1rem;
      line-height: 2.5rem;
    }

    h3 {
      position: absolute;
      top: 70%;
      left: 180px;
      background: $primary;
      padding: 0.5rem 1rem;
    }
  }
}